# {{ p.project_name }}
{{ p.description }}
{{ p.readme_manual }}
## formats
{% for format in p.production_format %}
### {{ format }}
* link: [/{{ format}}]({{ format }})  
![]({{ format }}/working_300.png)  
* width: {{ p.production_format[format].width }}  
* height: {{ p.production_format[format].height }}  
* thickness: {{ p.production_format[format].thickness }}  
* material: {{ p.production_format[format].material }}  
 
{% endfor %}